* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.shape {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  left: 80px;
  margin: auto;
}
.rectangle {
  width: 50%;
  height: 500px;
  background-color: black;
  float: right;
}
.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: blanchedalmond;
}
.name-card {
  position: relative;
  float: right;
  margin-right: -21%;
  margin-top: 10%;
}
.name-card span {
  display: block;
  font-size: 30px;
}
.name-card h3 {
  display: inline;
  font-size: 80px;
}
.name-card #name {
  color: white;
}
