.post-form {
  background-color: rgb(39, 119, 102);
  text-align: center;
  width: 400px;
  height: 200px;
  border-radius: 30px;
  color: white;
}

.post-form input {
  height: 50px;
  width: 80%;
  border-radius: 30px;
}
